.map{
    height: 500px;
    width: 500px;
    background-color: white;
    padding: 1rem;
    border-radius: 20px; 
    margin: 2rem;
    margin-left: 4rem;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.map .map__container{
    height: 90%;
   
    
}